<%= form_for([:admin, @page, :element, @paragraph], :remote => true) do |f| %>


<DIV id="errors"></DIV>
<UL>
	<LI>
		<%= f.label :content, "Paragraph:" %>
		<%= f.text_area :content, :id => "paragraph" %>
		<P class="helper">Want to add links, bold or italicize text? <a href="#">Click here</a>.</p>
	</LI>
</UL>

<DIV id="submit"><%= f.submit %><a id="closebutton" href="javascript:;">Or cancel</a></DIV>

<% end %>