/* Responsive, mobile */

@media all and (max-width: 699px) {

	#page { margin-top: 10px !important; }
  	h1#logo { float: none !important; text-align: center; }
	ul#nav { float: none !important; }
		ul#nav li { float: none !important; text-align: center; }
	#wrapper { width: 100% !important; }
	#content { padding: 15px !important; }

}

/* Architecture for pages. Styling should be done by templates */ 

#page { margin-top: 50px; 

	* { margin: 0; padding: 0; }

	#wrapper { width: 800px; text-align: left; margin: auto; }

	h1#logo { float: left; margin-bottom: 10px; }
	
	ul#nav { float: right; list-style: none; padding: 0; margin: 10px 0; }
		ul#nav li { float: left; }
		ul#nav a { display: block; padding: 10px;}
	
	ul#elements { margin:0; padding:0; list-style: none; }
		ul#elements { margin: 0; padding: 0;}
	
	#content { clear: both; }
	
}
