
<% # MASSIVE NOTICE. ANY CHANGES IN THIS FILE MUST ALSO BE MADE IN THE admin _PAGE PARTIAL AS WELL %>

<DIV id="page">
	<DIV id="wrapper">

		<h1 id="logo"><%= link_to @page.website.name, admin_dashboard_url %></h1>
		
		<UL id="nav">
			<% @page.website.pages.each do |p| %>
				<% if p.name != 'Home' %>
					<LI><%= link_to p.name, admin_url(p.permalink) %></LI>
				<% end %>
			<% end %>
		</UL>
		
		<DIV id="content">
			<h3><%= @page.name %></h3>
			<% @page.page_elements.each do |e| %>

				<%= display_element(e.element) %>
	
			<% end %>

		</DIV>
		<P><BR>Footer<BR></p>
	</DIV>
</DIV>