<!DOCTYPE html>
<html>
<head>
  <title>Lightbox BrightApp</title>
  <%= javascript_include_tag "admin" %>
</head>
<body>

<DIv class="admin-interface lightbox">
	<%= yield %>
<DIV id="spacer">
</DIV>

</body>
</html>
